/* Global Styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #1e1e1e;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #00adb5;
}

/* Header */
header {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

/* Sections */
section {
    padding: 0;
    max-width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}
